body { width: 40em; padding: 0px 0px;
       margin: 2em; 
       background-color: white }

div.p {
    padding-bottom: 0em;}
div.p + div.p { padding-top: 0.5em; }
body {overflow: auto;}
code,pre {overflow: auto}


div.header {
   text-align: center;
}
h1 {
    font-size: 200%;
    font-variant: small-caps;
}
div.authors {
   font-size: 110%;
}
h2 {
   font-size: 180%;
}
h3 {
   font-size: 150%;
}
h4 {
   font-size: 130%;
}
h5 {
   font-size: 108%;
}
div.header {
    text-align: center;
    border:  #000 solid 7px;
    padding-top:    1.1em;
    padding-bottom: 1.05em;
    margin-bottom: 1em;
}
h2 { border: #07330A solid 2px; padding: 0.2em; }
h3 { text-decoration: underline;}
div.subtitle {
   font-size: 110%;   font-style: italic;
}
.comment { 
    display: inline;
    font-family: monospace;
    color: red; } 
.code, pre {
    padding : 2px; font-size: 90%;
    margin-left: 3em; margin-right: 3em;
    display: block;
    font-family: monospace } 
.code {background-color: #eef;} 
pre {background-color: #eee;} 

.id { display: inline; }

.id[type="constructor"] { 
    color: rgb(60%,0%,0%);
}

.id[type="var"] { 
    color: rgb(40%,0%,40%);
}

.id[type="variable"] { 
    color: rgb(40%,0%,40%);
}

.id[type="definition"] { 
    color: rgb(0%,40%,0%);
}

.id[type="abbreviation"] { 
    color: rgb(0%,40%,0%);
}

.id[type="lemma"] { 
    color: rgb(0%,40%,0%);
}

.id[type="instance"] { 
    color: rgb(0%,40%,0%);
}

.id[type="projection"] { 
    color: rgb(0%,40%,0%);
}

.id[type="method"] { 
    color: rgb(0%,40%,0%);
}

.id[type="inductive"] { 
    color: rgb(0%,0%,80%);
}

.id[type="record"] { 
    color: rgb(0%,0%,80%);
}

.id[type="class"] { 
    color: rgb(0%,0%,80%);
}

.id[type="keyword"] { 
 color : #cf1d1d;
/*     color: black; */
}
